.main
{ 
    width: 300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.logo-img
{
    width: 300px;
    display: block;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}


.search-input
{
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    display: block;
}
 

